[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Docker volume driver plugin for CephFS
[access "refs/*"]
	owner = group user/huanwen ren (renhwztetecs)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/huanwen ren (renhwztetecs)
	label-Verified = -1..+1 group user/huanwen ren (renhwztetecs)
	push = group user/huanwen ren (renhwztetecs)
	read = group user/huanwen ren (renhwztetecs)
	rebase = group user/huanwen ren (renhwztetecs)
	removeReviewer = group user/huanwen ren (renhwztetecs)
	submit = group user/huanwen ren (renhwztetecs)
[access "refs/heads/*"]
	create = group user/huanwen ren (renhwztetecs)
	push = +force group user/huanwen ren (renhwztetecs)
	pushMerge = group user/huanwen ren (renhwztetecs)
	read = group user/huanwen ren (renhwztetecs)
[access "refs/tags/*"]
	push = group user/huanwen ren (renhwztetecs)
	push = +force group user/huanwen ren (renhwztetecs)
